@import 'vars';
@import 'mixin';

.subscribe {
  height: 35vw;
}

.subscribe-inner-below {
  &_block {
    @include display(flex, row, center, center);
    margin-top: 5vw;
    width: 48vw;
    height: 4vw;
    position: relative;
  }
  &_hover {
    position: absolute;
    height: inherit;
    cursor: pointer;
    &:first-of-type {
      width: 80%;
      left: 0;
      z-index: 100;
      &:hover ~ .first > div  {
        background: black;
        @include transition(.3s, background);
      }
      &:hover ~ .second > div {
        background: $color3;
        @include transition(.3s, background);
      }
    }
    &:nth-of-type(2) {
      width: 20%;
      right: 0;
      z-index: 100;
      &:hover ~ .first > div  {
        background: black;
        @include transition(.3s, background);
      }
      &:hover ~ .second > div {
        background: $color3;
        @include transition(.3s, background);
      }
    }
  }
  &_border {
    @include display(flex, column, center, center);
    height: inherit;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    & > div {
      position: absolute;
      @include border(20px);
      height: inherit;
      @include transition(.3s, background);
    }
    &:nth-of-type(3) {
      width: 80%;
      &:hover > div {
        background: black;
        @include transition(.3s, background);
      }
    }
    &:last-child {
      width: 20%;
      &:hover > div {
        background: $color3;
        @include transition(.3s, background);
      }
    }
  }
  &_leftside {
    width: 120%;
    background: $color3;
    left: 0;
  }
  &_rightside {
    width: 120%;
    background: black;
    right: 0;
    text-align: center;
    padding-left: 1.8vw;
    @include display(flex, column, center, center);
    @include font($font2, 1.1vw, 700, white, uppercase);
  }
}

@media (max-width: 650px) {
  .subscribe {
    height: 30vw;
    & .products-inner {
      padding-top: 4vw;
    }
  }
}

@media (max-width: 500px) {
  .subscribe {
    height: 40vw;
    &-inner-below {
      &_block {
        width: 65vw;
        height: 5vw;
      }
      &_rightside {
        font-size: 1.3vw;
      }
    }
  }
}